/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");

}

div {
    background-image: linear-gradient(to bottom, #d4f1ff 80%, #0206fe 20%);
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

div svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

div img {
    position: absolute;
}

#DarkWaves {
    width: calc(100% + 40px);
    left: -40px;
}

#LightWaves {
    width: calc(100% + 40px);
    left: -40px;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

#sol {
    top: 20px;
    left: 20px;
    width: 15%;
}

#barco {
    bottom: 86px;
    width: 170px;
    height: auto;
    right: -170px;
}

#peces {
    width: 49px;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 0;
}

#nubes {
    width: 164px;
    right: 87px;
    top: 35px;
}


/* Aqui va la parte de la animacion del SOL */
#sol {
    animation: rotacionReversible 6s ease-in-out infinite alternate;
}

@keyframes rotacionReversible {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }
}

/* Aqui va la parte de la animacion de las OLAS */
#DarkWaves {
    animation: oleaje 1s ease-in-out infinite alternate;
    transform-origin: center bottom;
}

#LightWaves {
    animation: oleaje 1s ease-in-out infinite alternate-reverse;
    transform-origin: center bottom;
}

@keyframes oleaje {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-40px);
    }
}


/* Aqui va la parte de la animacion de las OLAS */
#barco {
    animation: navegarBarco 5s infinite alternate-reverse;
}


@keyframes navegarBarco {
    0% {
        transform: translateX(-140px);
    }

    100% {
        transform: translateX(-510px);
    }
}



#peces {
    animation: saltosMultiples 12s linear infinite;
    transform-origin: center center;
}

@keyframes saltosMultiples {

    0% {
        transform: translateX(0px) translateY(0px) rotate(90deg);
    }

    10% {
        transform: translateX(-60px) translateY(-150px) rotate(-45deg);
    }

    20% {
        transform: translateX(-150px) translateY(0px) rotate(90deg);
    }

    25% {
        transform: translateX(-210px) translateY(-150px) rotate(-45deg);
    }

    35% {
        transform: translateX(-270px) translateY(0px) rotate(90deg);
    }

    45% {
        transform: translateX(-300px) translateY(-150px) rotate(-45deg);
    }

    50% {
        transform: translateX(-360px) translateY(0px) rotate(90deg);
    }

    60% {
        transform: translateX(-420px) translateY(-150px) rotate(-45deg);
    }

    70% {
        transform: translateX(-500px) translateY(0px) rotate(90deg);
    }

    100% {
        transform: translateX(-700px) translateY(-150px) rotate(-45deg);
    }
}