
img{
    width: 200px;
    
}

table,p,h1 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: sans-serif;
}

th, td {
  padding: 12px 18px;
}

th {
  background: #f5f5f7;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #d2d2d7;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #e5e5ea;
}

tr:hover td {
  background: #fafafa;
}


p,h1{
    padding: 12px,18px;
    width: 100%;
}